page-home {
  .img-capa-album{
    width: 100%;
  }
  
  .album-selecionado{
    .hover-container{
      opacity: 1;
    }
  }  
  
  .hover-container{
    background: rgba(200,200,200,0.5);
    width: 100%;
    height: 100%;  
    position: absolute;
    top: 0;
    opacity: 0;
    transition: opacity 0.5s linear;
  }
  
  .album-container{
    display: flex;
  }
  
  .grid-album{
    ion-col{
      &:hover{
        .hover-container{
          background: rgba(251, 255, 0, 0.5);
          opacity: 1;
        }
      }
      padding: 0;
    }
  }
}